.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .sort {
    margin: 20px;
  }

  .books-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .rotate {
    transform: rotate(180deg);
  }

  .book {
    width: 150px;
    font-size: 10px;
    transition: 0.3s;

    .book-content {
      height: 87%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;

      &:hover {
        cursor: pointer;
      }
    }

    .book-image {
      width: 150px;
      height: 200px;
    }

    .price {
      text-align: end;
    }
  }
}
